<div class="content">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <fieldset [disabled]="loading">

      <div class="box-register" [hidden]="boxError.show || loading">
        <p>Entre com sua nova senha</p>
        <app-input-password [formControlRef]="password"></app-input-password>
        <app-input-password [formControlRef]="passwordConfirm" placeholder="Confirme sua senha" [isConfirmation]="true"></app-input-password>
        <app-input-button placeholder="Criar nova senha" icon="autorenew" [disabled]="form.invalid && !isSubmitted"></app-input-button>
      </div>

      <app-loading class="box-loading" [hidden]="!loading"></app-loading>

      <div class="box-error" [hidden]="!boxError.show">
        <app-box-error></app-box-error>
        <app-input-button placeholder="ok" (clicked)="hideBoxError()" icon="cancel"></app-input-button>
      </div>

    </fieldset>
  </form>
</div>