fieldset {
    border: none;
    text-align: center;
  
    app-input-password ::ng-deep {
        .mat-form-field {
            width: 50%;
        }

        @media only screen and (max-width: 768px) {
            .mat-form-field {
                width: 100%;
            }
        }
    }
}