fieldset {
    border: none;
    text-align: center;
  
    app-input-email ::ng-deep, app-input-name ::ng-deep, app-input-password ::ng-deep, app-input-date ::ng-deep {
        .mat-form-field {
            width: 50%;
        }

        @media only screen and (max-width: 768px) {
            .mat-form-field {
                width: 100%;
            }
        }
    }
}

fieldset {
    .box-loading {
        margin-top: 30px;
    }

    .box-error {
        margin-top: 30px;
    }
}
