$loginWidth = 500px;

.header {
    width: 100%;
    height: 30px;
    background-color: black;

    .btn {
        display: inline-block;
        width: 30px;
        background-color: red;
    }

    .title {
        background-color: blue;
    }
}

fieldset {
    border: none;
    text-align: center;

    .box-logo {
        height: 100px;

        img {
            width: 100px;
        }
    }

    app-input-email ::ng-deep, 
    app-input-name ::ng-deep {
        .form-pwd mat-icon {
            cursor: pointer;
        }

        mat-error {
            font-size: 10px;
        }

        .form-field {
            margin-bottom: 10px;
        }

        .mat-form-field {
            width: 50%;
        }

        @media only screen and (max-width: 768px) {
            .mat-form-field {
                width: 100%;
            }
        }

        .mat-radio-button ~ .mat-radio-button {
            margin-left: 50px;
        }
    }

    .box-register {
        button {
            margin-top: 15px;
            min-width: 200px;
            border-radius: 19px;
            background-color: #336890;
        }
    }

    .box-loading {
        margin-top: 30px;
    }

    .box-error {
        margin-top: 30px;

        button {
            margin-top: 15px;
            min-width: 200px;
            border-radius: 19px;
            background-color: #336890;
        }
    }
}
