fieldset {
    border: none;
    text-align: center;
  
    app-input-email ::ng-deep, app-input-name ::ng-deep, app-input-password ::ng-deep, app-input-date ::ng-deep {
        mat-icon {
            cursor: pointer;
        }

        mat-error {
            font-size: 10px;
        }

        .mat-form-field {
            width: 50%;
            margin-bottom: 10px;
        }

        @media only screen and (max-width: 768px) {
            .mat-form-field {
                width: 100%;
            }
        }

        .mat-radio-button ~ .mat-radio-button {
            margin-left: 50px;
        }
    }
}

fieldset {
    // .box-logo {
    // height: 100px;

    // img {
    // width: 100px;
    // }
    // }

    .box-loading {
        margin-top: 30px;
    }

    .box-error {
        margin-top: 30px;
    }
}
