<div class="content">
    <div class="box-login">
        <app-login></app-login>
    </div>

    <!-- <div class="box-division noselect">
            <div class="hr-sect">OU</div>
        </div>

        <div></div> -->

    <div class="box-options">
        <div class="box-links">
            <app-input-button placeholder="Cadastrar uma nova conta" icon="person_add" [routerLink]="['/register']">
            </app-input-button>
            <app-input-button placeholder="Esqueci minha senha" icon="help_outline" [routerLink]="['/forgot-password']">
            </app-input-button>
        </div>

        <app-facebook-btn-login></app-facebook-btn-login>
    </div>
</div>