div#wrapper
    display table
    width 100%
    height 100%
    background-color #00223B

div#cell 
    display table-cell
    vertical-align middle

app-login    
    display: block;
    margin: auto;