// :host {
//     .form-pwd mat-icon {
//         cursor: pointer;
//     }

//     mat-error {
//         font-size: 10px;
//     }

//     .form-field {
//         margin-bottom: 10px;
//     }

//     .mat-form-field {
//         width: 50%;
//     }

//     @media only screen and (max-width: 768px) {
//         .mat-form-field {
//             width: 100%;
//         }
//     }

//     .mat-radio-button ~ .mat-radio-button {
//         margin-left: 50px;
//     }

//     button {
//         margin-top: 15px;
//         min-width: 200px;
//         border-radius: 19px;
//         background-color: #336890;
//     }
// }