<div class="form-field">
  <mat-form-field color="accent">
    <input matInput [formControl]="formControlRef" type="text" [matDatepicker]="picker" [placeholder]="placeholder"
      [maxlength]="maxLength" autocomplete="off">

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>

    <mat-error *ngIf="formControlRef?.invalid || hasError('invalid')">{{placeholder}} inválida</mat-error>
    
    <!-- O componente de data considera vazio o modelo mesmo quando existem textos inválidos no campo -->
    <!-- <mat-error *ngIf="hasError('required')">{{placeholder}} é obrigatória</mat-error> -->
    
    <mat-error *ngIf="hasError('minlength')">{{placeholder}} muito curta</mat-error>
    <mat-error *ngIf="hasError('maxlength')">{{placeholder}} muito longa</mat-error>
    <mat-error *ngIf="hasError('unknown')">Ocorreu um erro desconhecido ao cadastrar</mat-error>

    <ng-content select="mat-error" *ngIf="false"></ng-content>
    <mat-error *ngFor="let _matError of _matErrors">{{_matError.nativeElement.innerText}}</mat-error>
  </mat-form-field>
</div>