<div class="content">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <fieldset [disabled]="loading">

      <div class="box-register" [hidden]="boxError.show || loading">
        <p>Por favor preencha seu e-mail abaixo. Você receberá um link para recuperar sua senha.</p>
        <app-input-email [formControlRef]="email"></app-input-email>
        <app-input-button placeholder="Obter nova senha" icon="send" [disabled]="form.invalid && !isSubmitted"></app-input-button>
      </div>

      <app-loading class="box-loading" [hidden]="!loading"></app-loading>

      <div class="box-error" [hidden]="!boxError.show">
        <app-box-error></app-box-error>
        <app-input-button placeholder="ok" (clicked)="hideBoxError()" icon="cancel"></app-input-button>
      </div>

    </fieldset>
  </form>
</div>