@import '~@angular/material/prebuilt-themes/purple-green.css';
@import 'fonts.styl';
@import 'variables.styl';
@import 'classes.styl';

/*
 * App General Style
 */
body {
    font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
    color: #ffffff;
    font-size: 14px;
}

/*
 * Style to router component
 */
router-outlet ~ * {
    position: absolute;
    width: 100%;
    padding-top: 56px;
    box-sizing: border-box;
    display: block;
}

router-outlet ~ * .content {
    padding: 20px;
}

/* FIX Calendar Scroll */
.mat-datepicker-content {
    overflow: hidden !important;
}

/* theme and fixes: mat-form-field */
.mat-form-field {
    min-height: $fieldHeight;

    /* label */
    .mat-form-field-label-wrapper label {
        @extend .default-label;
    }

    /* icon */
    mat-icon {
        cursor: pointer;
    }

    &.mat-form-field-invalid {
        .mat-form-field-label.mat-accent {
            color: $invalidColor;
        }

        mat-icon {
            color: $invalidColor;
        }

        .mat-form-field-ripple, .mat-form-field-ripple.mat-accent {
            background-color: $invalidColor;
        }

        /* error */
        mat-error {
            margin-bottom: 2px;
            color: $invalidColor;
        }

        .mat-input-element {
            caret-color: $invalidColor;
            color: $invalidColor;
        }
    }

    /* start fix: Workaround for https://github.com/angular/material2/issues/4580. */
    .mat-form-field-underline {
        position: static;
    }

    .mat-form-field-subscript-wrapper {
        position: static;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    /* end fix */
}

/* Snackbar Container */
.mat-snack-bar-container {
    background-color: transparent;
    padding: 0 !important;
}

/* Snackbar Container */