* {
    font-family: "Segoe UI", "Arial"
}

/* You can add global styles to this file, and also import other style files */
.form-input
    margin-top 10px

.form-input input
    width 100%
    height 20px
    padding 8px
    color #ffffff
    border: 0px solid #606C75
    background-color #4D5860
    border-radius 5px;

.form-input input::placeholder
    color #A7ADB1
    font-size 15px

.form-button button
    background-color: transparent;
    border: none;
    color #ffffff
    margin-top 5px
    outline:none;

.form-button button:hover
    opacity 0.8

.form-button button:active
    opacity 0.70

.form-button.btn-bg button
    background-color: #1E5D8C;
    border-radius: 10px;
    padding 10px

// i {
//   border: solid black;
//   border-width: 0 3px 3px 0;
//   display: inline-block;
//   padding: 3px;
// }

// .right {
//   transform: rotate(-45deg);
//   -webkit-transform: rotate(-45deg);
// }

// .left {
//   transform: rotate(135deg);
//   -webkit-transform: rotate(135deg);
// }

// .up {
//   transform: rotate(-135deg);
//   -webkit-transform: rotate(-135deg);
// }

// .down {
//   transform: rotate(45deg);
//   -webkit-transform: rotate(45deg);
// }