/*
 * Variables
 */
$invalidColor = #F443F6;

/*
 * Fonts
 */
@import '~@angular/material/prebuilt-themes/purple-green.css';

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

/*
 * App General Style
 */
body {
    // font-family: "Segoe UI", "Arial"
    font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
    color: #ffffff;
    // background-color: #00223B;
    font-size: 14px;
}

/*
 * Style to router component
 */
router-outlet ~ * {
    position: absolute;
    width: 100%;
    padding-top: 56px;
    box-sizing: border-box;
    display: block;
}

router-outlet ~ * .content {
    padding-top: 20px;
}

/*
 * Fix [hidden] attribute error
 * https://www.talkingdotnet.com/dont-use-hidden-attribute-angularjs-2/
 */
[hidden] {
    display: none !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* FIX Calendar Scroll */
.mat-datepicker-content {
    overflow: hidden !important;
}

/* theme and fixes: mat-form-field */
.mat-form-field {
    min-height: 75px;

    /* label */
    .mat-form-field-label-wrapper label {
        font-family: 'RobotoBold', 'Helvetica Neue', 'sans-serif';
    }

    /* icon */
    mat-icon {
        cursor: pointer;
    }

    &.mat-form-field-invalid {
        .mat-form-field-label.mat-accent {
            color: $invalidColor;
        }

        mat-icon {
            color: $invalidColor;
        }

        .mat-form-field-ripple, .mat-form-field-ripple.mat-accent {
            background-color: $invalidColor;
        }

        /* error */
        mat-error {
            margin-bottom: 2px;
            color: $invalidColor;
        }

        .mat-input-element {
            caret-color: $invalidColor;
            color: $invalidColor;
        }
    }

    /* start fix: Workaround for https://github.com/angular/material2/issues/4580. */
    .mat-form-field-underline {
        position: static;
    }

    .mat-form-field-subscript-wrapper {
        position: static;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    /* end fix */
}
