body,
html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#splash {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#splash .logo {
    width: 190px;
    height: 200px;
    background: url(/assets/logo.png) center center no-repeat;
}

.loaded {
    display: none;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}