<mat-toolbar color="foreground" *ngIf="toolbarService?.toolbarMode != ToolbarModeEnum.NONE">
  <mat-toolbar-row *ngIf="toolbarService?.toolbarMode == ToolbarModeEnum.BACK_BAR">
    <ng-template [ngIf]="toolbarService?.showLogo">
      <button mat-flat-button class="logo" (click)="openHome()">
        <img src="assets/logo-toolbar-named.png" alt="Profile image">
      </button>
      <mat-divider class="style-fix" [vertical]="true"></mat-divider>
    </ng-template>

    <!-- <button mat-icon-button (click)="openMenu()">
      <mat-icon>menu</mat-icon>
    </button> -->

    <ng-template [ngIf]="toolbarService?.showBackButton">
      <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </ng-template>

    <span class="toolbar-title" *ngIf="toolbarService?.title">{{toolbarService?.title}}</span>

  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="toolbarService?.toolbarMode == ToolbarModeEnum.FULL">
    <div class="menu-item" fxHide fxShow.xs>
      <button mat-icon-button (click)="openMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="menu-item">
      <ng-template [ngIf]="toolbarService?.showLogo">
        <button mat-flat-button class="logo" (click)="openHome()">
          <img src="assets/logo-toolbar-named.png" alt="Profile image">
        </button>
        <mat-divider class="style-fix" [vertical]="true" fxShow fxHide.xs></mat-divider>
      </ng-template>
    </div>

    <div class="menu-item" *ngIf="toolbarService?.title">
      <span class="toolbar-title">{{toolbarService?.title}}</span>
    </div>

    <div fxHide.xs class="menu-item">
      <a href="#" mat-button>Menu Item 1</a>
      <a href="#" mat-button>Menu Item 2</a>
      <a href="#" mat-button>Menu Item 3</a>
      <a href="#" mat-button>Menu Item 4</a>
      <a href="#" mat-button>Menu Item 5</a>
      <a href="#" mat-button>Menu Item 6</a>
    </div>

    <div fxFlex fxLayout fxLayoutAlign="flex-end" class="menu-item">
      <ul fxLayout fxLayoutGap="20px" class="navigation-items">
        <!-- <li>
          <button mat-icon-button (click)="settings()">
            <mat-icon>settings</mat-icon>
          </button>
        </li> -->
        <!-- <li fxHide fxShow.xs>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li> -->
        <li>
          <button mat-icon-button [matMenuTriggerFor]="auth">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #auth="matMenu">
            <button mat-menu-item [routerLink]="['/profile']">
              <mat-icon>person_outline</mat-icon>
              <span>Perfil</span>
            </button>

            <button mat-menu-item [routerLink]="['/profile/change-password']">
              <mat-icon>lock</mat-icon>
              <span>Trocar senha</span>
            </button>

            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Sair</span>
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>