<mat-toolbar color="foreground" *ngIf="toolbarService?.toolbarMode != ToolbarModeEnum.NONE">
  <mat-toolbar-row *ngIf="toolbarService?.toolbarMode == ToolbarModeEnum.BACK_BAR">
    <ng-template [ngIf]="toolbarService?.showLogo">
      <button mat-flat-button class="logo" (click)="openHome()">
        <img src="assets/logo-toolbar-named.png" alt="Profile image">
      </button>
      <mat-divider class="style-fix" [vertical]="true"></mat-divider>
    </ng-template>

    <button mat-icon-button (click)="openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    
    <ng-template [ngIf]="toolbarService?.showBackButton">
      <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </ng-template>

    <span class="toolbar-title">{{toolbarService?.title}}</span>

  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="toolbarService?.toolbarMode == ToolbarModeEnum.FULL">
    <div>
      <button mat-icon-button (click)="openMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets/logo-toolbar.png" alt="Profile image">
    </div>

    <div>
      <span class="toolbar-title">Registrar</span>
    </div>

    <div fxShow="true" fxHide.lt-md="true">
      <a href="#" mat-button>Menu Item 1</a>
      <a href="#" mat-button>Menu Item 2</a>
      <a href="#" mat-button>Menu Item 3</a>
      <a href="#" mat-button>Menu Item 4</a>
      <a href="#" mat-button>Menu Item 5</a>
      <a href="#" mat-button>Menu Item 6</a>
    </div>

    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <ul fxLayout fxLayoutGap="20px" class="navigation-items">
        <!-- <li fxHide.xs> -->
        <li>
          <button mat-icon-button (click)="settings()">
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <!-- <li fxHide.xs>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li> -->
        <li>
          <button mat-icon-button [matMenuTriggerFor]="auth">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #auth="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Sign out</span>
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>