.facebook-button {
    button {
        background-color: #4067B3;
    }

    img {
        margin-left: -14px;
        margin-right: 10px;
        margin-top: -6px;
    }

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    &:active {
        opacity: 0.7;
    }

    display: inline-block;
    width: 250px;
    height: 30px;

    .img {
        float: left;
        height: 100%;
        width: 30px;
    }

    .text {
        padding-left: 10px;
        padding-top: 5px;
        float: left;
        height: 100%;
    }
}