<form [formGroup]="authForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="loading">
        <div class="profile-image">
            <img src="assets/icon-login.png" width="100%" alt="Profile image">
        </div>

        <div></div>

        <div class="line-middle">
            <div class="profile-welcome">
                <span>{{email.value | truncate : 12 : true}}</span>
            </div>

            <div class="box-login" *ngIf="!showError && !loading">
                <div class="form-input">
                    <input formControlName="email" placeholder="E-mail" type="text" />
                </div>

                <div class="form-input">
                    <input formControlName="password" placeholder="Senha" type="password" />
                </div>

                <!-- <button class="form-button" type="submit" [disabled]="!authForm.valid" > -->
                <div class="form-button btn-bg btn-login">
                    <button type="submit">Entrar</button>
                </div>
            </div>

            <div class="box-loading" *ngIf="loading">
                <div class="animation-loading">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>

            <div class="box-error" *ngIf="showError">
                <span>{{errorMessage}}</span>

                <div class="form-button btn-bg btn-login">
                    <button type="button" (click)="backLogin()">Ok</button>
                </div>
            </div>
        </div>

        <div class="box-division noselect">
            <div class="hr-sect">OU</div>
        </div>

        <div></div>

        <div class="box-facebook noselect">
            <div class="img">
                <img src="assets/login-facebook.png" alt="Facebook">
            </div>
            <div class="text">
                <span>Continuar com facebook</span>
            </div>
        </div>
        
        <div class="box-others">
            <div class="form-button">
                <button type="button" [routerLink]="['/register']">Cadastrar uma nova conta</button>
            </div>

            <div class="form-button">
                <button type="button" [routerLink]="['/forgot-password']">Esqueci minha senha</button>
            </div>
        </div>
    </fieldset>
</form>