<form [formGroup]="authForm" (ngSubmit)="submitForm()">
  <fieldset [disabled]="isSubmitting">
    <div class="profile-image">
        <img src="assets/icon-login.png" width="100%" alt="Profile image">
    </div>

    <div class="profile-welcome">
        <span>{{email.value | truncate : 12 : true}}</span>
    </div>

    <div class="form-input">
      <input formControlName="email" placeholder="Nome do usuário" type="text"/>
    </div>

    <div class="form-input">
      <input formControlName="password" placeholder="Senha" type="password" />
    </div>

    <!-- <button class="form-button" type="submit" [disabled]="!authForm.valid" > -->
    <div class="form-button btn-bg btn-login">
      <button type="submit" >entrar</button>
    </div>

    <div class="form-button">
      <button type="submit" >
        esqueci minha senha
      </button>
    </div>

  </fieldset>
</form>