<div class="content">
  <div class="box-message" [hidden]="boxError.show || loading">
    <p>Cadastro concluído com sucesso! Para finalizar, confirme o e-mail que enviamos para {{email}}.</p>
    <p class="bold">Caso não tenha recebido, clique no botão abaixo para uma nova tentativa.</p>

    <app-input-button placeholder="Entrar" icon="launch" (click)="login.emit()"></app-input-button>
    <app-input-button placeholder="Enviar novamente" icon="send" (click)="resendEmail()"></app-input-button>
  </div>

  <app-loading class="box-loading" [hidden]="!loading"></app-loading>

  <div class="box-error" [hidden]="!boxError.show">
    <app-box-error></app-box-error>
    <app-input-button placeholder="ok" (clicked)="hideBoxError()" icon="cancel"></app-input-button>
  </div>
</div>