<mat-sidenav-container>
  <!-- <mat-toolbar>
    <mat-toolbar-row>
      <h2 class="toolbar-title"> 123 </h2>
    </mat-toolbar-row>    
  </mat-toolbar> -->

  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <h2 matSubheader> Minhas contas </h2>
      <a mat-list-item routerLink="/" style="height: 0;"></a>

      <a *ngFor="let item of myWorkRoutes" mat-list-item (click)="sidenav.close()" [routerLink]="[item.route]"
        routerLinkActive="list-item-active">
        <mat-icon matListIcon class="app-nav-list-icon"> {{ item.icon }} </mat-icon>
        {{item.title}}
      </a>

      <mat-divider></mat-divider>

      <h2 matSubheader> Minhas despesas </h2>

      <a *ngFor="let item of customerRoutes" mat-list-item (click)="sidenav.close()" [routerLink]="[item.route]"
        routerLinkActive="list-item-active">
        <mat-icon matListIcon class="app-nav-list-icon"> {{ item.icon }} </mat-icon>
        {{item.title}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (settingClick)="sidenav.toggle()"></app-header>
    
    <div class="content" [@fadeAnimation]="componentEventActive">
      <router-outlet #o="outlet" (activate)="onRouterOutletActivate($event)"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>