<app-header></app-header>

<!-- <router-outlet #o="outlet"></router-outlet> -->

<div [@fadeAnimation]="prepareRoute(o)">
  <router-outlet #o="outlet"></router-outlet>
</div>



<!-- <mat-sidenav-container>
  <mat-toolbar color="accent">
    <button mat-icon-button>
      <mat-icon *ngIf="true">chevron_left</mat-icon> -->
<!-- <mat-icon *ngIf="true">menu</mat-icon> -->
<!-- </button>
    AA
    <span fxFlex></span>
    OI
    <button mat-icon-button >
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <router-outlet #o="outlet"></router-outlet>
</mat-sidenav-container> -->