<div class="form-field">
  <mat-form-field color="accent">
    <input matInput [formControl]="formControlRef" [type]="showPwd ? 'text' : 'password'" [placeholder]="placeholder"
      autocomplete="off" [maxlength]="maxLength" />

    <mat-error *ngIf="hasError('required')">{{placeholder}} é obrigatória</mat-error>
    <mat-error *ngIf="hasError('invalid')">{{placeholder}} inválida</mat-error>
    <mat-error *ngIf="hasError('minlength')">{{placeholder}} muito curta</mat-error>
    <mat-error *ngIf="hasError('maxlength')">{{placeholder}} muito longa</mat-error>
    <mat-error *ngIf="hasError('unknown')">Ocorreu um erro desconhecido ao cadastrar</mat-error>
    <mat-error *ngIf="hasError('passwordRequiresLower')">É necessário ao menos um caractere minusculo</mat-error>
    <mat-error *ngIf="hasError('passwordRequiresUpper')">É necessário ao menos um caractere maiúsculo</mat-error>
    <mat-error *ngIf="hasError('passwordRequiresNonAlphanumeric')">É necessário ao menos um caractere alfanumérico
    </mat-error>

    <mat-icon matSuffix (click)="showPwd = !showPwd">{{showPwd ? 'visibility' : 'visibility_off'}}</mat-icon>

    <ng-content select="mat-error" *ngIf="false"></ng-content>
    <mat-error *ngFor="let _matError of _matErrors">{{_matError.nativeElement.innerText}}</mat-error>
  </mat-form-field>
</div>